 @model BugTracker.Models.ViewModels.DashboardViewModel     

      <!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h1>@Model.Tickets.Where(t => t.TicketPriority.Name == "Critical").Count()</h1>
            </div>
            <div class="icon">
                <i class="fa fa-exclamation"></i>
            </div>
            <a class="small-box-footer">Critical Tickets</a>
        </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h1>@Model.Tickets.Where(t => t.Created < DateTime.Now.AddDays(-0) && t.Updated == null).Count()</h1>
            </div>
            <div class="icon">
                <i class="fa fa-hourglass"></i>
            </div>
            <a class="small-box-footer">Oldest Tickets</a>
        </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h1>@Model.Tickets.Where(t => t.DeveloperUser == null).Count()</h1>
            </div>
            <div class="icon">
                <i class="fa fa-question"></i>
            </div>
            <a class="small-box-footer">Unassigned Tickets</i></a>
        </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success ">
            <div class="inner">
                <h1>@Model.Tickets.Where(t => t.TicketStatus.Name == "Closed").Count()</h1>

            </div>
            <div class="icon">
                <i class="fa fa-check"></i>
            </div>
            <a class="small-box-footer">Resolved Tickets</a>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->
<!-- Main row -->
     <div class="row">
          <div class="col-2 offset-5">
<canvas id="myChart" width="100" height="100"></canvas>
              </div>
      </div>

@if (User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-danger">
                    <h5 class="card-title">Critical Tickets</h5>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row" id="myTkts">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Created By
                                    </th>
                                    <th>
                                        Developer
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Created
                                    </th>
                                    <th>
                                        Updated
                                    </th>
                                    <th>
                                        Project
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Priority
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.TicketPriority.Name == "Critical")).OwnerUser.FullName)
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.TicketPriority.Name == "Critical")).DeveloperUser.FullName)
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.TicketPriority.Name == "Critical")).Title)
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.TicketPriority.Name == "Critical")).Created.ToString("MMM/dd yyyy"))
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.TicketPriority.Name == "Critical")).Updated)
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.TicketPriority.Name == "Critical")).Project.Name)
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.TicketPriority.Name == "Critical")).TicketType.Name)
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.TicketPriority.Name == "Critical")).TicketPriority.Name)
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.TicketPriority.Name == "Critical")).TicketStatus.Name)
                                    </td>
                                    <td>
                                        <a class="btn btn-info" asp-controller="Tickets" asp-action="Index" asp-route-filter="Critical">Details <i class="fa fa-arrow-circle-right"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./card-body -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-warning">
                    <h5 class="card-title">Oldest Tickets</h5>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row" id="myTkts">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Created By
                                    </th>
                                    <th>
                                        Developer
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Created
                                    </th>
                                    <th>
                                        Project
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Priority
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.Created < DateTime.Now.AddDays(-0) && t.Updated == null)).OwnerUser.FullName)
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.Created < DateTime.Now.AddDays(-0) && t.Updated == null)).DeveloperUser.FullName)
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.Created < DateTime.Now.AddDays(-0) && t.Updated == null)).Title)
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.Created < DateTime.Now.AddDays(-0) && t.Updated == null)).Created.ToString("MMM/dd yyyy"))
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.Created < DateTime.Now.AddDays(-0) && t.Updated == null)).Project.Name)
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.Created < DateTime.Now.AddDays(-0) && t.Updated == null)).TicketType.Name)
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.Created < DateTime.Now.AddDays(-0) && t.Updated == null)).TicketPriority.Name)
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.Created < DateTime.Now.AddDays(-0) && t.Updated == null)).TicketStatus.Name)
                                    </td>
                                    <td>
                                        <a class="btn btn-info" asp-controller="Tickets" asp-action="Index" asp-route-filter="Oldest">Details <i class="fa fa-arrow-circle-right"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./card-body -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-purple">
                    <h5 class="card-title">All Tickets</h5>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row" id="myTkts">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Created By
                                    </th>
                                    <th>
                                        Developer
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Created
                                    </th>
                                    <th>
                                        Updated
                                    </th>
                                    <th>
                                        Project
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Priority
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @(Model.Tickets.First().OwnerUser.FullName)
                                    </td>
                                    <td>
                                        @(Model.Tickets.First().DeveloperUser.FullName)
                                    </td>
                                    <td>
                                        @(Model.Tickets.First().Title)
                                    </td>
                                    <td>
                                        @(Model.Tickets.First().Created.ToString("MMM/dd yyyy"))
                                    </td>
                                    <td>
                                        @(Model.Tickets.First().Updated)
                                    </td>
                                    <td>
                                        @(Model.Tickets.First().Project.Name)
                                    </td>
                                    <td>
                                        @(Model.Tickets.First().TicketType.Name)
                                    </td>
                                    <td>
                                        @(Model.Tickets.First().TicketPriority.Name)
                                    </td>
                                    <td>
                                        @(Model.Tickets.First().TicketStatus.Name)
                                    </td>
                                    <td>
                                        <a class="btn btn-info" asp-controller="Tickets" asp-action="Index" asp-route-filter="All">Details <i class="fa fa-arrow-circle-right"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./card-body -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-success">
                    <h5 class="card-title">Resolved Tickets</h5>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row" id="myTkts">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Created By
                                    </th>
                                    <th>
                                        Developer
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Created
                                    </th>
                                    <th>
                                        Updated
                                    </th>
                                    <th>
                                        Project
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Priority
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.TicketStatus.Name == "Closed")).OwnerUser.FullName)
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.TicketStatus.Name == "Closed")).DeveloperUser.FullName)
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.TicketStatus.Name == "Closed")).Title)
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.TicketStatus.Name == "Closed")).Created.ToString("MMM/dd yyyy"))
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.TicketStatus.Name == "Closed")).Updated)
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.TicketStatus.Name == "Closed")).Project.Name)
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.TicketStatus.Name == "Closed")).TicketType.Name)
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.TicketStatus.Name == "Closed")).TicketPriority.Name)
                                    </td>
                                    <td>
                                        @((Model.Tickets.FirstOrDefault(t => t.TicketStatus.Name == "Closed")).TicketStatus.Name)
                                    </td>
                                    <td>
                                        <a class="btn btn-success" asp-controller="Tickets" asp-action="Index" asp-route-filter="Resolved">Details <i class="fa fa-arrow-circle-right"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./card-body -->
            </div>
        </div>
    </div>
}
else
{

}


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script>

        //Step 1 - Generate the URL that we will call to get JSON
        var Url1 = '@Url.Action("PriorityChart", "Charts")';   //represents the endpoint (controller + action) that we want to hit

        // Step 2 - start the structure for our AJAX call
        $.post(Url1).then(function (response) {
            //Get the context/canvas for the chart
            var ctx = document.getElementById('myChart').getContext('2d');

            //Use the JSON response to create the data property of the chart
            var polarChartData = {
                labels: response.labels,
                datasets: [{
                    label: 'Tickets by Priority',
                    data: response.data,
                    backgroundColor: response.backgroundColors,
                    hoverOffset: 4
                }]
            };
            var polarChart = new Chart(ctx, {
                type: 'doughnut',
                data: polarChartData
            });
        })

    </script>
}




